@model OnlineStore.DataAccess.ViewModels.CategoryVM

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row p-3">
		<div class="col-6">
			<h2 class="text-primary">List of Categories</h2>
		</div>
		<div class="col-6 text-end">
			<a class="btn-primary" asp-action="CreateUpdate" asp-controller="Category">Create New Category</a>
		</div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Category Name</th>
			<th>Display Order</th>
			<th>Action</th>
        </tr>
    </thead>

<tbody>
	@foreach (var item in Model.Categories)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.DisplayOrder</td>
			<td role="group">
				<a asp-action="CreateUpdate" asp-controller="Category" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
				<a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Id"><i class="bi bi-trash">Delete</i></a>
			</td>
		</tr>
	}
</tbody>
</table>

@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
			<th>Display Order</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table> *@
